* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #111;
  color: white;
}

.wrapper {
  height: 100vh;
  position: relative;
}

/* Start button center */
.start {
  display: flex;
  justify-content: center;

  align-content: center;
}

.start-btn {
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 50vh;
}

.images {
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.images img {
  height: 200px;
  cursor: pointer;
}

/* Game area */
.gayab {
  display: block;
  position: relative;
}

.info {
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

.chotiimage {
  position: absolute;
  height: 80px;
  cursor: pointer;
}
