*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
}
.wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
button{
  background-color: gray;
  padding: 10px 10px;
  border-radius: 8px;
  border: none;

}
.images{
    display: none;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 200px;
    cursor: pointer;
    position: relative;
  
   
}


.images img{
    height: 100%;
    width: 100%;
    object-fit: contain;
     justify-content: space-between;
    align-items: center;
    margin:  20px 0;
    
}
.chotiimage {
  height: 150px;
  width: 70px;
  position: absolute;
  cursor: pointer;
  
}
.info {
  
  display: flex;
  justify-content: space-around;
  gap: 50%;
  font-size: 18px;
}

.time,
.score {
  background: white;
  padding: 6px 12px;
  border-radius: 5px;
}


